<?xml version="1.0"?>
<plist>
	<dict>
		<key>output_backups</key>
		<string>3</string>
		<key>last_output_backup</key>
		<string>4</string>
		<key>backend</key>
		<string>local</string>
		<key>run_input_hash</key>
		<string>12481621821703766060</string>
		<key>run_directories</key>
		<string>10 9 8 7 6 5 </string>
		<key>_private_sjef_project_completed_job</key>
		<string>localhost:48608</string>
		<key>_status</key>
		<string>3</string>
		<key>_private_sjef_project_backend_inactive</key>
		<string>0</string>
		<key>_private_sjef_project_backend_inactive_synced</key>
		<string>0</string>
		<key>jobnumber</key>
		<string>51295</string>
	</dict>
</plist>
